<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset=utf-8>
  <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="assets/css/application.css">
  <script src="assets/js/jquery-1.9.1.js"></script>
  <script src="assets/js/application.js"></script>
  <title> monograph &mdash; <%= username %> </title>
</head>

<body>

  <div id="navbar">
    <div class="bookend"></div>
    <div class="year">12</div>
    <div class="year">13</div>
    <div class="year">14</div>
    <div class="year">15</div>
    <div class="bookend"></div>
  </div>

  <div id="content">
    <%= posts_descending %>
  </div>

</body>
</html>